<table class="table table-bordered">
    <tr>
        <th>&nbsp;</th>
        <th>Number</th>
        <th>Regions</th>
    </tr>
    {{#each detail}}
    <tr>
        <td>
            <button class="btn btn-primary btnView" data-number="{{number}}">
                <i class="fa fa-eye" aria-hidden="true"></i> View
            </button>
            <button class="btn btn-primary btnEvol" data-number="{{number}}">
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Evolutions
            </button>
        </td>
        <td>
            <strong>{{number}}</strong>
        </td>
        <td>
            {{region}}
        </td>
    </tr>
    {{/each}}
</table>